@import 'ScssVariables';

::-webkit-scrollbar-track {
	background-color: rgba(235, 238, 245, 0.075);
}

::-webkit-scrollbar-thumb {
	background-color: rgba(235, 238, 245, 0.1);
}

html,
.el-card,
.el-drawer,
.el-drawer__header,
.el-table tr,
.el-input__inner,
.el-textarea__inner,
.el-divider__text,
.is-plain {
	background: #222933;
	color: #eee;
	border-color: rgba(235, 238, 245, 0.2);
}

.el-input-group__append,
.el-input-group__prepend {
	border-color: rgba(235, 238, 245, 0.2);
}

.el-drawer__body {
	padding: 0 20px;
}

h1, h2, h3, h4, h5, h6 {
	color: #eee;
}

.shadow-hard {
	box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 60%);
}

.el-loading-mask {
	background-color: rgba(0, 0, 0, 0.5);
}

.el-input__inner::placeholder {
	color: $--color-text-secondary;
}

.el-input {
	&.max-width-base {
		max-width: 188px;
	}
}

.el-form-item {
	margin-bottom: 16px;
}

.el-form--inline .el-form-item {
	margin-right: 12px;
}

.el-pagination {
	padding: 0;

	.el-select .el-input {
		margin: 0;
	}

	& + .el-table, .el-table + & {
		margin-top: 16px;
	}
}

.el-picker-panel__shortcut {
	line-height: 1em;
	padding-bottom: 8px;
}
